<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><img src="../images/" class="headshot img-circle"></a></li>
				<li><a href="/publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
		<footer>
	    		<ul>
	        		<a bzastrow@utexas.edu </a> <span class="sep">|</span>
	        		<a href="https://github.com/bgzastrow">GitHub</a> <span class="sep">|</span>
				<a href="https://www.linkedin.com/in/benjamin-g-zastrow/">LinkedIn</a>
				<!-- <a href="https://scholar.google.it/citations?user=UPcyNXIAAAAJ&hl=it">Scholar</a> -->
		</footer>
	</html>
